.count-component {
    margin-top: 20px;
    color: #FFF;
    font-size: 100px;
    height: 116px;
    line-height: 116px;
    text-align: center;
    .increment {
        background-color: #2196F3;
    }

    .decrement {
        background-color: #F44336;
    }
    .count {
        color: #FFEB3B;
    }
}